.footer {
    width: 100%;
    padding: 1rem;
    background-color: $lighterBlue;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.2rem;
    &-data {
        display: flex;
        flex-direction: column;
        margin: 0.8rem;
    }
    &-social {
        width: 100%;
        overflow: hidden;
        margin: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        img {
            width: 65px;
        }
    }
}
@media (min-width: 762px) {
    .footer {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        &-data {
            display: flex;
            flex-direction: column;
            margin: 0.8rem;
        }
        &-social {
            display: flex;
            width: auto;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            margin: 0.7rem;
        }
        .img {
            width: 85px;
            transition: 0.3s;
            margin: 0.5rem 2rem;
            overflow: hidden;
            img {
                padding: 0.3rem;
                width: 100%;
            }
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
