* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
.title {
    color: black;
}
main {
    margin: 0 auto;
    min-height: 100vh;
}
@import "./colors";
@import "./navigation";
@import "./home";
@import "./aboutus";
@import "./offer";
@import "./contact";
@import "./footer";
